body {
    background: url(img/soldierscomp.png);
    background-size: 100vw 100vh;
background-color: beige;
font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: blueviolet;
    color: rgb(0, 39, 26);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    height: 0.5rem;
}
#container {
    display:flex
}
.cartao {
    height: 100%;
    margin: 0.5rem 0.5rem;
    background-color: blanchedalmond;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    border-radius: 0.8rem;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao__conteudo h3{
    text-align: left
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
    position: absolute;
    font-size: 1vw;
    backface-visibility hidden;
}
.cartao__conteudo p{
    text-align: center;
    margin-top: 1px;
    padding: 2rem
}
.cartao:hover .cartao__conteudo{
  transform: rotateY(180deg);
}