body {
    background: url('/assets/img/soldierscomp.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: blueviolet;
    color: rgb(0, 39, 26);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
}

footer p {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
}

#container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.cartao {
    background-color: blanchedalmond;
    flex-grow: 1;
    flex-basis: calc(33% - 1rem);
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 1rem;
    box-sizing: border-box;
}

.cartao:hover .cartao__conteudo{
    transform: rotateY(180deg);

}
.cartao__conteudo{
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3 {
    text-align: left;
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    margin: 8px 0;
    font-size: 1.2rem;
    position: relative;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    text-align: center;
    margin-top: 1px;
    padding: 2rem;
    backface-visibility: hidden;
}
.cartao__conteudo__pergunta, .cartao__conteudo__resposta{
    backface-visibility: hidden;
}
.cartao__conteudo__resposta{
    transform: rotateY(180deg);
        background-color: rgb(222, 192, 149);
    backface-visibility: hidden;
    border-radius: 1rem;
}